.attribution {
    text-align: center;
    background-color: hsl(212, 45%, 89%);color:black;   
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    margin: 0;
    flex-direction: column;
}

@media (min-width: 300px) {
    #contenido {background-color: white;
        width: 70vw;
        border-radius: 5vw;
        margin: auto;
    }
    
    #contenido img {width: 60vw;
        border-radius: 5vw;
        margin: 5vw;
    }*{
        font-size: 1rem;text-align: center;
    }#contenido h1 {
        font-size: 1.35rem;
        font-weight: bold;
        color: hsl(218, 44%, 22%);
    }
    #contenido p {font-weight: lighter;
        padding: 1rem;
        color: hsl(220, 15%, 55%);
    }
}

@media (min-width: 900px) {
    #contenido {background-color: white;
        width: 22vw;
        border-radius: 1vw;
        margin: auto;
    }
    
    #contenido img {width: 20vw;
        border-radius: 1vw;
        margin: 1vw;
    }*{
        font-size: 1vw;text-align: center;
    }#contenido h1 {
        font-size: 1.35vw;
        font-weight: bold;
        color: hsl(218, 44%, 22%);
    }
    #contenido p {font-weight: lighter;
        padding: 1vw;
        color: hsl(220, 15%, 55%);
    }
}